@font-face {
  font-family: "Booking";
  src: url("/fonts/Bucking-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "WinnerSans";
  src: url("/fonts/WinnerSans-Bold.otf") format("opentype");
  font-style: normal;
}