*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0b041a;
  color: #f8fafc;
  font-family: 'Roboto', system-ui, sans-serif;
}

.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
